body {
    --black: #111111;
    --primary:  #79c142;
    --white: #FFFFFF;
    --marker:  #79c142;

    --pen:  #e9ecef;
    --stencil:  #565c67;
    --bg-main:  #020916;
    --bg-secondary:  #0f1622;


}



